.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 460px;
    flex-grow: 1;
}

.title {
    font-family: Jost, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.text {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: center;
    vertical-align: middle;

}

.buttons {
    display: flex;
    width: 100%;
    gap: 24px;
}

.buttons .button {
    flex: 1;
}