.container {
 position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  min-width: 556px;
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 12px;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-inline: 36px;
  height: 80px;
    
}

.title {
  height: 40px;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}

.button {
  color: #6b7280;
  background: none;
  border: none;
  cursor: pointer;
}

.content {
    padding-inline: 60px;
}
