.button {
  display: inline-block;
  padding: 21px 24px;
  border-radius: 12px;
  border: solid 1px transparent;
  cursor: pointer;
  min-width: 200px;
  background-color: #ffffff;
  color: #253017;
  &:disabled {
    cursor: none;
    color: #E4E8DF;
  }
  &--primary {
    min-width: 284px;
    background-color: #ABD27A;
    &:hover {
      background-color: #DEEBC5;
    }
    &:disabled {
      background-color: #E4E8DF;
      cursor: none;
      color: #69735D;
    }
    &:active {
      background-color: #508826;
      color: #ffffff;
    }
  }
  &--secondary {
    border-color: #ABD27A;
    &:hover {
      border-color: #DEEBC5;
      color: #69735D;
    }
    &:active {
      border-color: #508826;
    }
    &:disabled {
      border-color: #E4E8DF;
      color: #9CA197;
    }
  }
  &--tertiary {
    border-color: #ffffff;
  }
}
