.button {
  display: inline-block;
  min-width: 200px;
  padding: 21px 24px;
  color: #253017;
  background-color: #ffffff;
  border: solid 1px transparent;
  border-radius: 12px;
  cursor: pointer;

  &:disabled {
    color: #E4E8DF;
    cursor: none;
  }

  &--primary {
    min-width: 284px;
    background-color: #ABD27A;

    &:hover {
      background-color: #DEEBC5;
    }

    &:disabled {
      color: #69735D;
      background-color: #E4E8DF;
      cursor: none;
    }

    &:active {
      color: #ffffff;
      background-color: #508826;
    }
  }

  &--secondary {
    border-color: #ABD27A;

    &:hover {
      color: #69735D;
      border-color: #DEEBC5;
    }

    &:active {
      border-color: #508826;
    }

    &:disabled {
      color: #9CA197;
      border-color: #E4E8DF;
    }
  }

  &--tertiary {
    border-color: #ffffff;
  }
}
