.button{
    display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 48px;
    color:#253017;
    font-size: 16px;
	text-align: center;
    border: none;
    border-radius: 12px;
	cursor: pointer;
    transition: all ease .2s;
    padding-block: 12px;
    padding-inline: 10px;
}

.button:disabled{
    cursor: not-allowed;
}

.buttonprimary{
    background-color: #ABD27A;
}

.buttonprimary:hover{
    background-color:  #DEEBC5;
}

.buttonprimary:active{
    color:#FFFFFF;
    background-color: #508826;
}

.buttonprimary:disabled{
    background-color: #E4E8DF;
}

.buttonsecondary{
    background-color: #FFFFFF;
    border: 1px solid #ABD27A;
}

.buttonsecondary:hover{
    color:#69735D;
    border: 1px solid #DEEBC5;
}

.buttonsecondary:active{
    color:#253017;
    background-color: #FFFFFF;
    border:1px solid #508826;
}

.buttonsecondary:disabled{
    background-color: #FFFFFF;
    border: 1px solid #E4E8DF;
}
