.skillTag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-width: 147px;
  height: 32px;
  margin: 0;
  padding: 8px 12px;
  font-size: 12px;
  letter-spacing: 0.02em;
  border-radius: 20px;
}

.theme-default {
  background-color: #f0f0f0;
}

.theme-career {
  background-color: #eee7f7;
}

.theme-languages {
  background-color: #ebe5c5;
}

.theme-home {
  background-color: #f7ebe5;
}

.theme-art {
  background-color: #f7e7f2;
}

.theme-education {
  background-color: #e7f2f6;
}

.theme-health {
  background-color: #e9f7e7;
}
