.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 368px;
    width: 324px;
}

.suggestion {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 284px;
}

.user-info {
    display: flex;
    gap: 24px;
}

.user {
    display: flex;
    gap: 12px;
    max-width: 260px;
}

.like {
    align-self: end;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px
}

.name {
    font-family: 'Open sans', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.info {
    font-size: 12px;
    font-weight: 400;
}

.avatar {
    border-radius: 50%;
}

.tags {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.skill, .wishes {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 260px;
}

.more-button {
    width: 100%;
}