@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Roboto:wght@400&display=swap');

body,
.home,
.header,
.footer,
.content,
.footer-menu,
.footer-menu ul,
.footer-menu li {
  color: #253017;
}

/* ====== Layout ====== */

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: #f9faf7;
}

/* ====== Результаты ====== */

.results-section {
  flex: 1;
  box-sizing: border-box;
  min-width: 0;
  margin: 0;
  margin-bottom: 60px;
  padding-right: 0;
}
