p {
    margin: 0;
    padding: 0;
}

.container {
    place-self: center;
    width: 369px;
    border: 3px solid black;
    position: relative;
    display: flex;
    gap: 4px;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #253017;
}

.input {
    position: relative;
    padding: 12px 20px;
    border: 1px solid #69735D;
    border-radius: 12px;
}

input {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    color: #253017;
}

.small {
    font-size: 12px;
}

.error-text {
    color: #BF3920;
}

.error-border {
    border-color: #BF3920;
}

.visible-icon {
    position: absolute;
    z-index: 11;
    top: 38px;
    right: 20px;
    border: none;
    background: none;
}

.dropdown-cross {
    top: 10px;
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #69735D;
    border-radius: 12px;
}

.dropdown-icon {
    margin-right: 26px;
}

.selected-option {
    margin: 9px 20px;
}

.dropdown-menu {
    position: absolute;
    z-index: 10;
    top: 28px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #69735D;
    border-radius: 12px;
    background-color: white;
}

.list {
    display: flex;
    flex-direction: column;
    max-height: 120px;
    overflow-y: auto;
}

.item {
    margin: 8px 20px;
}

.item-selected {
    margin: 8px 20px;
}

.disabled {
    color: #69735D;
}