.form-holder {
    width: 556px;
    padding: 121.5px 60px ;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    border-radius: 12px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: none;
}

.fieldRow {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.buttonsRow {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 16px;
}

.buttonsRow button {
    width: 100%;
}

.submit-holder {
    display: flex;
    flex-direction: column;
    padding-top: 16px
}