.card {
  position: relative;
  box-sizing: border-box;
  max-width: 324px;
  padding: 20px;
  color: #253017;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  background: white;
  border-radius: 12px;
}

.favorite {
  position: absolute;
  top: 20px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-weight: 600;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
  letter-spacing: -0.22px;
}

.meta {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.24px;
}

.label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tag {
  padding: 8px 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 20px;
}

.details {
  position: inherit;
  top: 20px;
  width: 100%;
  padding: 12px;
  color: #253017;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: #abd27a;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.header {
  display: flex;
  gap: 12px;
}
